.breadcrumbs {
  width: 100%;
  padding: 15px 200px 15px 0;
  margin: 0 0 30px;
  color: #6c6e79;
  border-bottom: 1px solid #e2e5ef;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
._1g-4gk {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12.5rem;
  height: 11.1875rem;
  background-image: url(https://polytronofficial.com/assets/images/empty-cart.png);
}
._2tKeYb {
  height: 21rem;
}
._1fP0AH {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 37.5rem;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
._35zxc9 {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 1.0625rem;
  border-radius: 0.25em;
}
._2tKeYb .h9wsC4 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.875rem;
  line-height: 1rem;
  margin-top: 1.125rem;
}
._35zxc9 > .shopee-button-solid {
  padding: 0.625rem 2.625rem;
}
._3SCpTT {
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
}
