$main-color: #189687;
$sub-color: #f57224;
$main-text-color: #f57224;
$main-color2: #e62e04;
$border: solid 1px #333;
$heading-color: #424242;
$blue: #012344;
$dark: #111723;
$yellow: rgb(253, 216, 54);
$red: rgb(255, 66, 78);
$light-red: rgb(255, 110, 120);
$light-blue: #0f136d;
$wraper-color: rgb(250, 250, 250);
$price-color: rgb(255, 57, 69);
$text-color: #212121;
$sub-text-color: #757575;
$shadow: 0 0 6px 0 rgb(175, 175, 175);
$shadow-color: rgb(200, 200, 200);
$border-color: rgb(228, 228, 228);
